:root {
    --color-primary: #79388d;
    --color-secondary: #ffffff;
    --color-quinary: #772b2b;
    --color-accent: #3f8cff;
    --color-quaternary: #462e22;
    --color-quinary: #f7f7f7;
    --primary-blue-dark: #4361ee;
    --text-white: #f7faff;
    --text-gray: #b5b8bc;
    --text-color: #303651;
    --text-color-neutral: #697089;
    --color-tertiary: #261e5a;
}

body {
    background: var(--primary-blue-dark);
}
.navigation {
    background-color: var(--color-accent);
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 20px;
}

.navigation ul {
    display: flex;
    list-style-type: none;
}
.navigation ul li {
    margin-right: 20px;
}
.navigation ul li a {
    color: var(--color-quaternary);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 15px;
    display: flex;
    align-items: center
}
main {
    margin: 5px;
    }
    
main img {
    width: 50%;
    height: 50%;
}
.products {
    
        justify-content: flex-start;
        align-items: flex-start;
    }

.products h2{
    color: var(--color-primary);
}
.products p {
    padding: 1rem;
    color: var(--color-quaternary);
    margin-right: 650px;
}
.products img {
    height: 100%; 
    object-fit: cover;
    aspect-ratio: 16 / 9;
}
footer {
    background-color: var(--color-accent);
}
